# Ejecutable de la práctica
/playlist
/playlist.exe
a.out

# Archivos objeto y de precompilación
*.d
*.o
*.obj
*.slo
*.lo
*.gch
*.pch

# Bibliotecas compiladas
*.so
*.so.*
*.dylib
*.dll
*.a
*.la
*.lai
*.lib

# Otros ejecutables
*.exe
*.out
*.app

# Archivos del enlazador y del depurador
*.ilk
*.pdb
*.dwo

# Carpetas de compilación
build/
Build/
build-*/

# Archivos temporales
*.tmp
*.log
*.bak
*.swp

# Archivos del sistema operativo
.DS_Store
Thumbs.db